/* wwwroot/css/print-invoice.css */
.print-invoice {
    display: none;
}

@media print {
    body * {
        visibility: hidden;
    }

    .print-invoice, .print-invoice * {
        visibility: visible;
    }

    .print-invoice {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        border: none;
    }

    h2 {
        text-align: center;
    }

    p {
        margin: 5px 0;
    }

    hr {
        margin: 20px 0;
    }
}
