/* Screen styles */
.print-statement-container {
    display: none; /* Hidden on screen */
}

/* Print styles */
@media print {
    @page {
        size: A4 portrait;
/*        margin: 10mm;*/
    }

    body * {
        visibility: hidden;
    }

    .print-statement-container, .print-statement-container * {
        visibility: visible;
    }

    .print-statement-container {
        position: absolute;
        left: 0;
        top: 0;
        /*width: 190mm;*/ /* A4 width minus margins */
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        font-size: 10pt;
        color: #000;
    }

    .header {
        text-align: center;
        margin-bottom: 8mm;
    }

        .header p {
            margin: 1mm 0;
            font-size: 10pt;
            line-height: 1.2;
        }

            .header p:first-child {
                font-weight: bold;
                font-size: 12pt;
            }

        .header h2 {
            font-size: 14pt;
            margin: 2mm 0;
            text-transform: uppercase;
            color: #003087; /* INTI blue */
        }

    .student-details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5mm;
        font-size: 10pt;
    }

        .student-details div {
            width: 48%;
        }

        .student-details p {
            margin: 1mm 0;
            line-height: 1.3;
        }

        .student-details .summary p {
            font-weight: bold;
            color: #333;
        }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 5mm;
        font-size: 9pt;
    }

    th, td {
        border: 0.5pt solid #000;
        padding: 2mm;
        text-align: left;
        vertical-align: top;
    }

    th {
        background-color: #e6f0fa; /* Light blue */
        font-weight: bold;
        text-transform: uppercase;
        color: #003087;
    }

    td {
        line-height: 1.2;
    }

    .no-transactions {
        text-align: center;
        font-style: italic;
        font-size: 10pt;
        margin: 5mm 0;
        color: #666;
    }

    .summary-box {
        border: 0.5pt solid #000;
        padding: 3mm;
        margin-bottom: 5mm;
        background-color: #f9f9f9;
        font-size: 10pt;
    }

        .summary-box h4 {
            font-size: 11pt;
            margin: 0 0 2mm;
            color: #003087;
        }

        .summary-box p {
            margin: 1mm 0;
            line-height: 1.3;
        }

    .balance {
        font-weight: bold;
        font-size: 11pt;
        text-align: right;
        margin: 3mm 0;
        color: #000;
    }

    .footer {
        text-align: center;
        font-size: 9pt;
        margin-top: 5mm;
    }

        .footer p {
            margin: 1mm 0;
            line-height: 1.2;
        }
}
